@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Merriweather", serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 48px;
    font-weight: 600;
}

h3{
    font-size: 36px;
}

h5{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.header-container{
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;

}

.container{
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
}

